*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 25px;
    background-color: antiquewhite;
}

body{
    background-color: antiquewhite;
}

header h1{
    display: flex;
    justify-content: center;
    color: rgb(65, 15, 15);
}

main{
    padding: 30px;
}

#tarefas-input{
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

main p label{
    display: flex;
    align-items: center;
    font-weight: 700;
}

main p input{
    padding: 4px;
    border-radius: 10px;
    width: 60%;
}

.btn-container{
    display: flex;
    padding: 10px;
    justify-content: center;
    gap: 40px;
}

#adicionar-tarefa-container{
    padding: 10px;
}

#salvar-tarefa-container{
    padding: 10px;
}

#adicionar-tarefa{
    background:transparent;
    padding: 10px;
    border-radius: 5px;
}

#adicionar-tarefa:hover{
    background:rgb(145, 145, 145);
}

#salvarTarefa{
    background: transparent;
    padding: 10px;
    border-radius: 5px;
}


#salvarTarefa:hover{
    background:rgb(145, 145, 145);
    padding: 10px;

    border-radius: 5px;
}

